<!-- <h1>Add a word to <%= @words.name() %> </h1>

<form action="/definitions" method="post">
  <input id='words_id' name='words_id' type='hidden' value='<%= @words.id() %>'>

  <label for='name'>Definition:</label>
  <input id='name' name='name' type='text'>

  <button type="submit">Add Definition</button>
</form> -->
